.content {
    position: relative;
    z-index: 3;
    margin-bottom: 100px;
    padding-top: 50px;
    color: #b13939;
  }
  #no{
    position: absolute;
    display: inline-block;
    left: 23%; 
    top: 40vh;
    -webkit-transition: all 0.1s ease-out;
  }
  #yes{
    position: absolute;
    display: inline-block;
    left: 66%; 
    top: 40vh;
    -webkit-transition: all 0.3s ease-out;
  }
  .content_imgs, .content_imgs_2{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content_imgs img{
    height: 500px;
    padding: 12px;
    border-radius: 30px;
  }

  .content_imgs_2 img{
    width: 680px;
    padding: 12px;
    border-radius: 30px;
  }
#text4{
  margin: 12px 0 32px;
}
#bg{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: .8;
  /* height: 100vh; */
  z-index: 0;
  background-repeat: no-repeat;
  background-image: url(https://cache.giaohangtietkiem.vn/d/1d2b56317134281a21979817357d0dad.jpg);
  background-size: cover;
  background-position: 50%;
  -webkit-filter: blur(4px);
}
.swal2-title, .swal2-content{
  color: azure !important;
}
.swal2-popup {
  border-radius: 15px !important;
}

header h2 {
  font-family: 'Pacifico';
  font-size: 80px;
  text-align: center;
	margin-bottom: 30px;
}
.footer {
  font-family: 'Pacifico';
  font-size: 80px;
  text-align: center;
	margin-bottom: 100px;
  margin-top: 500px;
  color: rgb(4, 107, 93);
}
header h4 {
  font-family: 'Pacifico';
  text-align: center;
}

@media only screen and (max-width: 500px) {
  header h2 {
    font-family: 'Pacifico';
    font-size: 45px;
    text-align: center;
    margin-bottom: 30px;
  }
  header h4 {
    font-family: 'Pacifico';
    text-align: center;
    padding: 15px;
  }
  #no{
    position: absolute;
    display: inline-block;
    left: 7%; 
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.1s ease-out;
  }
  #yes{
    position: absolute;
    display: inline-block;
    left: 58%; 
    top: 40vh;
    font-size: 14px;
    padding: 3px;
    -webkit-transition: all 0.3s ease-out;
  }
}